body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.card {
  display: inline-block;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 20px;
  max-width: 280px;
}

.card img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.qr_title,
.qr_desc {
  margin-top: 15px;
  padding: 0 10px;
}

.qr_title {
  font-weight: 700;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
}

.qr_desc {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding-bottom: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
